MeaningCloud_python == 1.1.1
clarifai == 2.5.2
emoji == 0.5.1
instapy_chromedriver == 2.44
pathlib == 1.0.1
plyer == 1.4.0
regex == 2019.2.7
requests == 2.21.0
selenium == 3.141.0
setuptools == 41.0.1
wheel == 0.38.1
